---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
apiServer:
  extraArgs:
    cloud-provider: external
clusterName: kubernetes
controlPlaneEndpoint: "${ELB_NAME}:6443"
controllerManager:
  extraArgs:
    cloud-provider: external
kubernetesVersion: v1.26.0 # can use "stable"
networking:
  dnsDomain: cluster.local
  podSubnet: 10.2.128.0/20
  serviceSubnet: 10.2.64.0/20
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
certificateKey: "${CERT_KEY}"    
nodeRegistration:
  kubeletExtraArgs:
    cloud-provider: external
patches:
  directory: /home/ubuntu/patches
