# Sample ssh config file to enable ssh proxy via jumpbox
# With this setup, you should be able to e.g., ssh -F ssh_config 10.2.2.10 to ssh into a k8s node

IdentitiesOnly yes

Host jumpbox
   Hostname <jumpbox ip address>
   IdentityFile <ssh private key file>
   User ubuntu

Host 10.2.2.*
   IdentityFile <ssh private key file>
   User ubuntu
   ProxyJump jumpbox
   