cluster_name = "kubeadm"
aws_profile_name = "aws profile name"
aws_region = "us-gov-west-1"
ec2_keypair_name = "keypair name"
remote_access_address = "x.x.x.x/32"
controller_instance_count = 3
worker_instance_count = 2
node_ami_owner_id = "513442679011"
